logs
project/project
project/target
target
tmp
.history
dist
/.idea
/.cache
/.target
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/project/*-shim.sbt
/data
.settings/org.scala-ide.play2.prefs
.settings/org.scala-ide.sdt.core.prefs
